.blue-input {
    background-color: #00ccff;
}

#submit {
    background-color: #ffff80;
}

#bold-lastname {
    font-weight: bold;
}

#instructions {
    border: 2px solid black;
}

div {
    border: 2px solid black;
}